<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="afda1570-a6ae-4026-b451-15a4fef4be4d" Publisher="CN=erkki" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BluetoothChat</DisplayName>
    <PublisherDisplayName>erkki</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BluetoothChat.App">
      <VisualElements DisplayName="BluetoothChat" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BluetoothChat" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>